@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive;
    font-size: 10px;
}

header{
    background-color: #46ACC2;
    width: 100%;
    height: 50px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.barraEncabezado{
    margin-top: 10px;
}

header .icon-left{
    font-size: 20px;
    padding: 20px 0;
    text-decoration: none;
}

header .icon-left:hover{
    color: #333;
    cursor: pointer;
}


/*-------------Seccion noticia-------------*/

#muestraNoticia{
    padding: 20px 0;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
}

#muestraNoticia .titulo{
    font-size: 30px;
}

#muestraNoticia .imagenesNoticia{
    display: flex;
    float: left;
    flex-wrap: wrap;
}

#muestraNoticia .imagen{
    margin: auto;
    margin-bottom: 20px;
    max-width: 300px;
    max-height: 150px;
}

#muestraNoticia .titulo{
    padding: 20px 10px;
}


#muestraNoticia .parrafo{
    font-size: 15px;
    padding: 20px 10px;
}

/*------------------Footer------------------------*/
footer .contenedor{
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 25px;
}

footer .sociales{
    width: 100%;
}

.icon-facebook{
    margin-right: 30px;
    margin-left: 30px;
}

.icon-youtube{
    margin-right: 30px;
    margin-left: 30px;
}

footer .datosEscuela{
    width: 100%;
}

footer .phone{
    text-align: center;
    font-weight: normal;
    font-size: 13px;
}

footer .aRR{
    font-size: 13px;
}

footer .copy{
    font-size: 20px;
}

footer .sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a{
    color: #333;
    text-decoration: none;
}

/*--------Estilos responsive---------*/

@media(min-width:480px){
    #muestraNoticia .titulo{
        font-size: 30px;
        padding: 20px 10px;
    }
    #muestraNoticia .imagenesNoticia{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #muestraNoticia .imagen{
        margin: auto;
        margin-bottom: 20px;
        max-width: 400px;
        max-height: 200px;
    }
}

@media(min-width:768px){
    #muestraNoticia .titulo{
        font-size: 40px;
        padding: 20px 10px;
    }
    #muestraNoticia .parrafo{
        font-size: 20px;
        padding: 20px 10px;
    }
    #muestraNoticia .imagenesNoticia{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #muestraNoticia .imagen{
        margin: auto;
        margin-bottom: 20px;
        max-width: 600px;
        max-height: 200px;
    }
}

@media(min-width:1024px){
    #muestraNoticia .titulo{
        font-size: 40px;
        padding: 20px 10px;
    }
    #muestraNoticia .parrafo{
        font-size: 20px;
        padding: 20px 10px;
    }
    #muestraNoticia .imagenesNoticia{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #muestraNoticia .imagen{
        margin: auto;
        margin-bottom: 20px;
        max-width: 500px;
        max-height: 250px;
    }
}
