#contacto{
    background: #46ACC2;
    color: #fff;
    padding: 50px 0;
}

#contacto h2{
    font-size: 30px;
    
}

#contacto h3{
    font-size: 12px;
    font-weight:normal;
}

#contacto .center{
    font-weight: bold;
}

#contacto .divH3{
    width: 100%;
    margin-top: 10px;
    background: rgba(0,0,0,0.2);
    margin-bottom: 15px;
}

#contacto .divH32{
    width: 100%;
    margin-top: 10px;
    background: rgba(0,0,0,0.2);
}

#contacto .contenedor{
    text-align: center;
}

#contacto .mapa{
    margin-top: 20px;
    width: 98%;
    height: 200px;
}

/*--------Estilos responsive---------*/

@media(min-width:480px){
    #contacto .mapa{
        margin-top: 20px;
        height: 300px;
    }
    
    #contacto h2{
        font-size: 40px;
    }
    
    #contacto h3{
        font-size: 15px;
        text-align: center;
    }
    
    #contacto .divH3{
        width: 100%;
        margin-top: 10px;
        background: rgba(0,0,0,0.2);
        margin-bottom: 15px;
    }

    #contacto .divH32{
        width: 100%;
        margin-top: 10px;
        background: rgba(0,0,0,0.2);
    }
}

@media(min-width:768px){
    #contacto .mapa{
        margin-top: 20px;
        height: 380px;
    }

    #contacto h2{
        font-size: 50px;
    }
    
    #contacto h3{
        font-size: 20px;
        text-align: left;
    }
    
    #contacto .center{
        text-align: left;
        font-weight: bold;
    }
    
    #contacto .divMayor{
        display: flex;
        flex-wrap: wrap;
    }
    
    #contacto .divH3{
        width: 50%;
        margin-top: 10px;
        background: rgba(0,0,0,0.2);
        margin-bottom: -0px;
    }

    #contacto .divH32{
        width: 50%;
        margin-top: 10px;
        background: rgba(0,0,0,0.2);
    }
}

@media(min-width:1024px){
    #contacto .mapa{
        margin-top: 20px;
        width: 1000px;
        height: 400px;
    }
    
    #contacto h2{
        font-size: 50px;
    }
}
