#directivos{
    background: #46ACC2;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

#directivos .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#directivos .directivos{
    top: 0;
    margin-left: 0;
}

.directivos-escuela{
    position: relative;
    margin: 20px;
}

.directivos-escuela img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}


.contenedorDescripcion{
    position: absolute;
    top: 120px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    width: 100%; 
    height: 30%;
    padding: 5px;
    font-size: 15px;
}

/*----------Estilos responsive----------*/

@media(min-width:480px){
    .directivos-escuela{
        width: 40%;
    }
}

@media(min-width:768px){
    .directivos-escuela{
        width: auto;
    }
    #directivos h2{
        font-size: 50px;
    }
}

@media(min-width:1024px){
    .directivos-escuela{
        width: auto;
    }
    #directivos h2{
        font-size: 50px;
    }
}