#escuela{
    background: #46ACC2;
    padding: 50px 0;
    position: relative;
}

#escuela p{
    font-size: 13px;
}

#escuela h2{
    text-align:  center;
    font-size: 35px;
    color: #fff;
}

#escuela .contenedorMision{
    margin-top: 50px;
    text-align: center;
    
}

#escuela button{
    font-family: 'Indie Flower', cursive;
}


#escuela .colapsable {
  background-color: #46ACC2;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
    font-weight: bold;
}


#escuela .active, .colapsable:hover {
    /*background-color: #0559;*/
    color: #060358;
}

#escuela .dot:hover {
  background-color: #136476;
}


#escuela .contenido {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


#escuela .contenedor {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

#escuela img{
    width: 100%;
    max-height: 200px;
}


#escuela .mySlides {
    display: none;
}

#escuela .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


#escuela .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


#escuela .prev:hover, .next:hover {
  background-color: rgba(99,195,206,0.5);
}


#escuela .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


#escuela .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 10;
}


#escuela .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #9AE2DA;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


#escuela .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*-----------------------------Estilos responsive------------------------------------------*/
@media (min-width: 480px){
    #escuela h2{
        font-size: 40px;
    }
    #escuela img{
        width: 100%;
        max-height: 250px;
    }
    
    #escuela .colapsable{
        font-size: 20px;
    }
    
    #escuela p{
        font-size: 15px;
    }
    
}

@media (min-width: 768px){
    #escuela h2{
        font-size: 50px;
    }
    #escuela img{
        width: 100%;
        max-height: 320px;
    }
    #escuela .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #9AE2DA;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    #escuela .text {
        font-size: 20px;
    }
    
    #escuela .colapsable{
        font-size: 30px;
    }
    
    #escuela p{
        font-size: 18px;
    }
}


@media (min-width: 1024px){
    #escuela h2{
        font-size: 50px;
    }
    
    #escuela img{
        width: 100%;
        max-height: 350px;
    }
    
    #escuela .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #9AE2DA;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    #escuela .colapsable{
        font-size: 30px;
    }
    
    #escuela p{
        font-size: 18px;
    }
}

