@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url(banner.css);
@import url(noticias.css);
@import url(directivos.css);
@import url(escuela.css);
@import url(personal.css);
@import url(talleres.css);
@import url(videos.css);
@import url(contacto.css);
@import url(menu3.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive;
    font-size: 10px;
}

header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header h1{
    font-size: 15px;
    justify-content: center;
    margin-left: 35px;
    padding-top: 10px;
}

header img{
    padding-top: 10px;
    width: 30px;
    height: 30px;
    position: fixed;
}

header a{
    font-size: 10px;
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1{
    float: left;
}

h2{
    font-size: 40px;
    text-align: center;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
}

section{
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos{
    padding: 50px 0;
    text-align: center;
}

#bienvenidos h2{
    color: #46ACC2;
}

#bienvenidos p{
    font-size: 15px;
}
/*------------------Footer---------------------*/
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 25px;
}

footer .sociales{
    width: 100%;
}

footer a{
    margin-right: 30px;
    margin-left: 30px;
}

footer .datosEscuela{
    width: 100%;
}

.phone{
    text-align: center;
    font-weight: normal;
    font-size: 13px;
}

.aRR{
    font-size: 13px;
}

.copy{
    font-size: 20px;
}

.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a{
    color: #333;
    text-decoration: none;
}
/*------------------Footer---------------------*/

/*---------------------Estilos responsive---------------------*/
@media (min-width:768px){
    
    #bienvenidos h2{
        font-size: 50px;
    }
    
    #bienvenidos p{
        font-size: 20px;
    }
    
     header h1{
        font-size: 25px;
        justify-content: center;
        margin-left: 60px;
    }
    header img{
        width: 50px;
        height: 50px;
        padding-top: 0;
    }
    
    header a{
        font-size: 13px;
    }
    .sociales{
        width: auto;
    }
    
    footer .contenedor{
        justify-content: space-between;
    }
}

@media (min-width:1024px){
    .contenedor{
        width: 1000px;
    }
    #bienvenidos h2{
        font-size: 50px;
    }
    #bienvenidos p{
        font-size: 20px;
    }

}