header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header h1{
    font-size: 15px;
    justify-content: center;
    margin-left: 35px;
    padding-top: 10px;
}

header img{
    padding-top: 10px;
    width: 30px;
    height: 30px;
    position: fixed;
}

header a{
    font-size: 10px;
}