.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

.nav{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    display: block;
}



.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link{
    display: block;
    padding: 10px;
    background: #FBA919;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.menu__link:hover{
    background: #fff;
    color: #FBA919;
}

.mostrar{
    left: 0;
}
