.Navbar {
    font-size: 16px;
    background-color: #46ACC2;
    display: flex;
    padding: 16px;
    color: white;
    font-weight: bold;
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
    margin-top: 20px;
    text-align: center;
    display: flex;
}

header .aNavbar{
    text-decoration: none;
    font-weight: bold;
    color: #111A6D;
    font-size: 12px;
}

header .aNavbar:hover{
    color: #fff;
}

header .divLogo{
    padding: 0;
    margin-left: -10px;
    width: 30%;
    height: 30%;
    margin-top: -12px;
}

header img{
    max-width: 40px;
    max-height: 50px;
}

header h4{
    font-size: 16px;
    margin-left: 40px;
}

.Navbar__Items--right {
  margin-left:auto;
}
.Navbar__Items--left{
    margin-right: auto;
}

.Navbar__Link-toggle {
  display: none;
}

/*-------------Estilos responsive----------------*/

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    display:none;
  }
  .Navbar__Items--right {
    margin-left:0;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}

@media (min-width: 768px) {
    
    header .aNavbar{
        font-size: 18px;
    }
    
    .Navbar__Items{
         margin-left: auto;
    }
    .Navbar__ToggleShow {
        display: none;
    }
    .Navbar__Link-toggle {
        display: none;
    }
}

@media (min-width: 1024px) {
    header h4{
        font-size: 20px;
        margin-left: 40px;
    }
    header .aNavbar{
        font-size: 18px;
    }
    
    .Navbar__Items{
        margin-top: 4px;
        margin-left: auto;
    }
    .Navbar__ToggleShow {
        display: none;
    }
    .Navbar__Link-toggle {
        display: none;
    }

}

