#noticias{
    padding: 50px 0;
}

#noticias .contenedor{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#noticias .aNoticias{
    text-decoration: none;
}

#noticias h2{
    color: #46ACC2;
}

#noticias h4{
    text-align: center;
}

#noticias article{
    max-width: 280px;
    margin: 15px;
}

#noticias img{
    width: 100%;
    max-width: 280px;
    cursor: pointer;
}

/*--------Estilos responsive------------*/

@media (min-width: 480px){
    #noticias h2{
        font-size: 40px;
    }
}

@media (min-width: 768px){
    #noticias h2{
        font-size: 50px;
    }
}

@media (min-width: 1024px){
    #noticias h2{
        font-size: 50px;
    }
}