#personal{
    padding: 50px 0;
    margin-bottom: 50px;
}

#personal h2{
    font-size: 35px;
    color: #46ACC2;
}

#personal .contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#personal a{
    text-align: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#personal .myBtnContainer{
    width: 100%;
    margin-top: 50px;
}

#personal .column {
    float: left;
    margin-top: 30px;
    margin-bottom: -20px;
    max-width: 120px;
    display: none;
    text-align: center;
}

/* Content */
#personal .content {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

#personal img{
    width: 100%;
    border-radius: 20px;
    max-width: 140px;
    max-height: 120px;
    padding: 5px;
    position: relative;
    animation-name: transicion;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

#personal .hCuatro{
    width: 100%;
    top: -50px;
    text-align: center;
    position: relative;
    animation-name: transicionLetras;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

@keyframes transicion {
    from {top: 50px; }
    to {top: 0px;}
}

@keyframes transicionLetras{
    from {top: 25px; }
    to {top: -50px;}
}

#personal .row {
    width: 100%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The "show" class is added to the filtered elements */
#personal .show {
    display: block;
}

/* Style the buttons */
#personal .btn {
    justify-content: center;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

/* Add a grey background color on mouse-over */
#personal .btn:hover {
    background-color: #ddd;
}

/* Add a dark background color to the active button */
#personal .btn.active {
  background-color: #666;
   color: white;
}

/*-----------Estilos responsive-------------*/

@media(min-width:480px){
    #personal h2{
        font-size: 40px;
        color: #46ACC2;
    }
    #personal .myBtnContainer{
        width: 100%;
        text-align: center;
    }
    
    #personal a{
        display: inline-block;
        width: 20%;
        font-size: 15px;
        text-decoration: none;
        color: #000;
    }

    /* Content */
    #personal .content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -40px;
        background-color: white;
    }
    
    #personal .row{
        width: 90%;
    }

    #personal .column{
        float: left;
        width: 30%;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #personal img{
        width: 100%;
        border-radius: 20px;
        position: relative;
        animation-name: transicion;
        animation-duration: 1s;
        animation-fill-mode: backwards;
    }

    #personal .hCuatro{
        width: 100%;
        top: -50px;
        position: relative;
        text-align: center;
        animation-name: transicionLetras;
        animation-duration: 1s;
        animation-fill-mode: backwards;
    }
}

@media (min-width:768px){
    #personal .contenedor{
        max-width: 900px;
    }
    #personal h2{
        font-size: 50px;
        color: #46ACC2;
    }

    #personal .row{
        margin-top: 30px;
        width: 100%;
    }
    
    #personal .column{
        float: left;
        max-width: 180px;
        height: 150px;
        margin: auto;
        /*margin-left: 30px;
        margin-bottom: 10px;*/
    }
    
        /* Content */
    #personal .content {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -40px;
        background-color: white;
    }

    #personal .hCuatro{
        font-size: 14px;
        width: 100%;
        top: -50px;
        position: relative;
        text-align: center;
        animation-name: transicionLetras;
        animation-duration: 1s;
        animation-fill-mode: backwards;
    }
    
    #personal img{
        max-width: 180px;
        max-height: 150px;
        border-radius: 20px;
        position: relative;
        animation-name: transicion;
        animation-duration: 1s;
        animation-fill-mode: backwards;
    }
}

@media (min-width:1024px){
    #personal .contenedor{
        max-width: 1000px;
    }
    
    #personal h2{
        font-size: 50px;
        color: #46ACC2;
    }
    
    #personal .row{
        margin-top: 50px;
        width: 100%;
    }
    
    #personal .column{
        float: left;
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
    }
    
        /* Content */
    #personal .content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -40px;
        background-color: white;
    }

    #personal .hCuatro{
        font-size: 14px;
        width: 100%;
        top: -50px;
        position: relative;
        text-align: center;
        animation-name: transicionLetras;
        animation-duration: 1s;
        animation-fill-mode: backwards;
    }
    
    #personal img{
        width: 100%;
        border-radius: 20px;
        position: relative;
        animation-name: transicion;
        animation-duration: 1s;
        animation-fill-mode: backwards;
    }
    
    #personal a{
        text-align: center;
        display: flex;
        float: left;
        position: relative;
        flex-wrap: wrap;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
    }

    #personal .myBtnContainer{
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
}