#talleres{
    background-color: #46ACC2;
    padding: 50px 0;
}

/*-----------------------------------------------------------------------------------*/

#talleres button{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

#talleres button:hover{
    background-color: #055060;
}

#talleres p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}

#talleres .imagenesTaller{
    display: flex;
    float: left;
    flex-wrap: wrap;
}

#talleres .imagen{
    margin: auto;
    margin-bottom: 20px;
    max-width: 300px;
    max-height: 150px;
}


#talleres .collapsible {
  background-color: #46ACC2;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}


#talleres .active, .collapsible:hover {
  background-color: #055060;
}


#talleres .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#talleres .contenedor{
    margin-top: 30px;
}

#talleres h2{
    color: #fff;
    font-size: 35px;
}


/*------Estilos responsive------*/
@media (min-width:480px){
    #talleres .collapsible{
        font-size: 20px;
    }
    #talleres h2{
        font-size: 40px;
    }
    #talleres p{
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #talleres .imagenesTaller{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #talleres .imagen{
        margin: auto;
        margin-bottom: 20px;
        max-width: 400px;
        max-height: 200px;
    }

}

@media (min-width:768px){
    #talleres .collapsible{
       font-size: 30px;
    }
    #talleres h2{
        font-size: 50px;
    }
    #talleres p{
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #talleres .imagenesTaller{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #talleres .imagen{
        margin: auto;
        margin-bottom: 20px;
        max-width: 600px;
        max-height: 200px;
    }
}

@media (min-width:1024px){
    #talleres .contenedor{
        max-width: 1000px;
    }
    #talleres .collapsible{
        font-size: 40px;
    }
    #talleres h2{
        font-size: 50px;
    }
    #talleres .imagenesTaller{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #talleres .imagen{
        margin: auto;
        margin-bottom: 20px;
        max-width: 500px;
        max-height: 250px;
    }
    #talleres p{
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}