#videos{
    padding: 50px 0;
}

#videos h2{
    font-size: 35px;
    color: #46ACC2;
}

#videos .containerVideo{
    text-align: center;
}

#videos iframe{
    margin-top: 30px;
    align-items: center;
    max-width:  200px;
    max-height: 130px;
}

/*----------Estilos responsive-----------*/

@media(min-width:480px){
    #videos .containerVideo{
        text-align: center;
        max-width: 35%;
        max-height: 300px;
        display: inline-block;
        margin-left: 50px;
    }
    
    #videos iframe{
        margin-top: 30px;
        align-items: center;
        max-width:  200px;
        max-height: 130px;
    }
    
    #videos h2{
        font-size: 40px;
    }
}

@media(min-width:768px){
    #videos .containerVideo{
        text-align: center;
        max-width: 30%;
        max-height: 300px;
        display: inline-block;
        margin-left: 20px;
    }
    
    #videos iframe{
        margin-top: 30px;
        align-items: center;
        max-width:  250px;
        max-height: 170px;
    }
    
    #videos h2{
        font-size: 50px;
    }
    
    #videos h3{
        font-size: 15px;
    }

}

@media(min-width:1024px){
    #videos .containerVideo{
        text-align: center;
        max-width: 28%;
        max-height: 400px;
        display: inline-block;
        margin-left: 50px;
    }
    
    #videos iframe{
        margin-top: 30px;
        align-items: center;
        max-width:  300px;
        max-height: 190px;
    }
    
    #videos h2{
        font-size: 50px;
    }

}
